<!DOCTYPE html>
<html>
	<head>
		<title>Sign-in</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
      body 
      {
        background-image: url('bread.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(247, 247, 247);
      }
    </style>
	</head>
	<body>
		<div class="container" style="float: left; margin-left: 5em;">
      <h1 style="margin-top: 2em;"><a href="/homepage" style="color: #fc8019; text-decoration: none;">FoodiePie</a></h1>
      <!-- <br> -->
			<% if(attempt==1) {%>
        <h3 style="color: rgb(189, 41, 41)"> Incorrect <%= wrongField %></h3>
      <%}%>
      <form action="/restaurant-signin" method="post" validate>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" class="form-control" id="email" placeholder="Restaurant's Email" name="email" style="width:200px" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Password" name="password" style="width:200px" required>
          <div class="valid-feedback">Valid.</div>
          <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <button type="button" class="btn butn"><a href="/restaurant-forgot-password" style="text-decoration: none;">Forgot Password?</a></button>
      <button type="button" class="btn butn"><a href="/restaurant-signup" style="text-decoration: none;">Sign Up?</a></button><br>
      <button type="button" class="btn butn"><a href="/user-signin" style="text-decoration: none;">Sign in as user?</a></button>
		</div>

		<script>
      // Disable form submissions if there are invalid fields
			(function() {
			  'use strict';
        window.addEventListener('load', function() {
          // Get the forms we want to add validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
			  }, false);
			})();
		</script>

	</body>
</html>

  