.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    margin-top: 80px;
}
body 
{
  background-image: url('../img5.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-color: rgb(247, 247, 247);
  font-family: "Lato", sans-serif;
  overflow-x: scroll;
  text-transform: capitalize;
}

input[type="button"]
{
    border: none;
    outline:none;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.5rem;
}